{% extends "base.html" %}

{% block content %}

<div id="list">
<table border="1" cellpadding="4" width="100%">
    <tr>
        <td>Forum</td>
        <td>Topics</td>
        <td>Posts</td>
        <td>Last post</td>
   
    </tr>

    {% for forum in forums %}
    <tr>
        <td>
        <div class="title"> <a href="{% url forum.views.forum forum.pk %}">{{ forum.title }}</a>
            </div></td>
        <td>{{ forum.num_threads }}</td>
        <td>{{ forum.num_posts }}</td>
        <td>
            {{ forum.last_post.short|linebreaksbr }}</td>

    </tr>

    {% endfor %}
</div>

{% endblock %}