{% extends "base.html" %}

{% block content %}

<a class="nav" href="{% url forum.views.forum thread.forum.pk %}">Go to {{ thread.forum.title }}</a>
<br /><br />
<h3>{{ thread.title }}</h3>
<table class="thread" border="1" width="100%">
    <tr><td class="post_header">
{{ thread.creator }}<br />
 {{ thread.created }}</td>
 <td class="post_body">
{{ thread.body }}</td>
 </tr>

    {% for post in posts.object_list %}
        <tr><td class="poster">
            {{ post.creator }}<br />
            {{ post.created }}</td>
            <td class="post_body">{{ post.body }} </td>
        
    {% endfor %}

</table>
{% if posts.object_list and posts.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% if user.is_authenticated %}
<a class="button" href="{% url forum.views.reply pk %}">Reply</a>
{% endif %}
{% endblock %}