{% extends "base.html" %}

{% block content %}

<a class="nav" href="{% url forum.views.forum thread.forum.pk %}">Go to {{ thread.forum.title }}</a>
<br /><br />
{{ thread.title }}
<table class="thread" border="1" width="100%">
    <tr><td class="poster">
{{ thread.creator }}<br />
 {{ thread.created }}</td>
 <td class="post_body">
{{ thread.body }}</td>
 </tr>

    {% for post in posts.object_list %}
        <tr><td class="poster">
            {{ post.creator }}<br />
            {{ post.created }}</td>
            <td class="post_body">{{ post.body }} </td>
        
    {% endfor %}

</table>
{% if threads.object_list and threads.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if threads.has_previous %}
            <a href= "?page={{ threads.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ threads.number }} of {{ threads.paginator.num_pages }}
        </span>

        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}"> &gt;&gt; next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% if user.is_authenticated %}
<a class="button" href="{% url forum.views.reply pk %}">Reply</a>
{% endif %}
{% endblock %}